<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/helpWindow.css">

    <title>Help</title>
</head>

<body>
    <main class="container">
        <div class="title">
            <h1>Help</h1>
        </div>

        <div class="list">
            <ul>
                <li>
                    <a href="#" id="instructions"> Instructions </a>
                </li>
                <li>
                    <a href="#" id="report"> Report a bug </a>
                </li>
                <li>
                    <a href="#" id="about"> About </a>
                </li>
                <li>
                    <a href="#" id="contact"> Contact </a>
                </li>
            </ul>
        </div>
    </main>
</body>

<script src="../assets/javascript/help.js"></script>
</html>