<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <title>Sound Key</title>
</head>

<body class="container">
    <h1>Sound Key</h1>

    <input type="text" name="name" id="name">
    <button id="record-macro" onclick="recorder()">Record Macro</button>
    <button id="upload">Upload</button>
    <button id="submit" onclick="createMacro()">Submit</button>

    <br>
    <br>
    <br>

    <button id="play-button" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">
        Play
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    PLAYING
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="stop-button"">Stop</button>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="../assets/script/index.js"></script>
<script src="../assets/script/upload.js"></script>
<script src="../assets/script/play.js"></script>
<script src="../config/db.js"></script>
<script src="../controller/MacrosController.js"></script>
<script src="../model/macros.js"></script>


</html>