<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toca Tecla</title>
</head>

<body>
    <h1>Olá mundo!</h1>
    
        <input type="text" name="name" id="name">
        <button id="record-macro" onclick="recorder()">Record Macro</button>
        <button id="upload">Upload</button>
        <button id="submit" onclick="createMacro()">Submit</button>
    
</body>

<script src="../assets/index.js"></script>
<script src="../assets/upload.js"></script>
<script src="../config/db.js"></script>
<script src="../controller/MacrosController.js"></script>
<script src="../model/macros.js"></script>


</html>