
.form {
    text-align: center;
    display: flex;
    justify-content: center;
}

.form-button {
    height: 2.4rem;
    margin: 0 0.2rem;
}

.name-input {
    width: 15rem; 
    display: inline;
}

.record-button {
    width: 8rem
}